fastapi==0.115.12
uvicorn[standard]==0.34.0
python-multipart==0.0.20
python-dotenv==1.1.0
openai==1.74.0
pydantic==2.11.3
PyMuPDF==1.25.5
pytesseract==0.3.13
Pillow==11.1.0
python-pptx==1.0.2
sentence-transformers==3.4.1
scikit-learn==1.6.1
